<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled"     value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <typeAliases>
        <!-- Common -->
        <typeAlias type="demo.onthelive.training.lms.repository.typehandler.BooleanYnTypeHandler"      alias="BooleanYnTypeHandler"/>
        <typeAlias type="demo.onthelive.training.lms.repository.typehandler.ZoneIdTypeHandler"         alias="ZoneIdTypeHandler" />

        <!-- User  -->
        <typeAlias type="demo.onthelive.training.lms.model.user.LmsUser"                               alias="LmsUser" />
        <typeAlias type="demo.onthelive.training.lms.model.user.LmsSimpleUser"                         alias="LmsSimpleUser" />
        <typeAlias type="demo.onthelive.training.lms.model.user.LmsUserConfig"                         alias="LmsUserConfig" />
        <typeAlias type="demo.onthelive.training.lms.model.user.support.LmsUserType"                   alias="LmsUserType" />
        <typeAlias type="demo.onthelive.training.lms.model.user.support.LmsUserState"                  alias="LmsUserState" />

        <!-- OAuth -->
        <typeAlias type="demo.onthelive.training.lms.model.oauth.support.OAuthPlatform"                alias="OAuthPlatform" />

    </typeAliases>

    <typeHandlers>
        <typeHandler handler="demo.onthelive.training.lms.repository.typehandler.BooleanYnTypeHandler" javaType="Boolean" />
    </typeHandlers>

    <mappers>
        <mapper resource="mybatis/mapper/mariadb/UserMapper.xml" />
        <mapper resource="mybatis/mapper/mariadb/AuthenticationMapper.xml" />
    </mappers>
</configuration>